wrapt==1.14.0 # This version must correspond to astroid version
astroid==2.12.2
torch 
torchvision
torchaudio
transformers
InstructorEmbedding
sentence_transformers
langchain==0.0.348
llama-cpp-python
chromadb==0.4.18
# auto-gptq # Requires CUDA
huggingface
huggingface_hub
unstructured==0.6.7
pdf2image==1.16.3
tokenizers==0.13.3
dash==2.9
dash_bootstrap_components==1.5.0

