wrapt==1.14.1 # This version must correspond to astroid version
jq==1.7.0
pyqt5
pypdf==4.2.0
black==24.4.2
watchdog==4.0.0
astroid==3.2.0
unstructured==0.13.7
torch==2.2.2 
torchvision==0.17.2
torchaudio==2.2.2
transformers==4.40.0
InstructorEmbedding==1.0.1
sentence_transformers==2.2.2
langchain==0.1.20
langchain-community==0.0.38
extract-msg==0.48.5
llama-cpp-python==0.2.73
chroma-hnswlib==0.7.3
chromadb==0.5.0
# auto-gptq # Requires CUDA
huggingface==0.0.1
huggingface_hub==0.20.3
pdf2image==1.17.0
tokenizers==0.19.1
dash==2.14.2
dash_bootstrap_components==1.6.0